<form
 [formGroup]="fg"
 (ngSubmit)="guardar(fg.controls['nombre'].value,fg.controls['url'].value)" >
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." 
        [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div class="alert alert-warning" *ngIf="fg.controls['nombre'].hasError('required')">¡Nombre requerido!</div>
        <div class="alert alert-warning" *ngIf="fg.controls['nombre'].hasError('invalidNombre')">¡Nombre inválido!</div>
        <div class="alert alert-warning" *ngIf="fg.controls['nombre'].hasError('minLongNombre')">¡Nombre debe tener al menos {{minLongitud}} de largo!</div>
   </div>
   <div class="form-group">
      <label for="Imagen Url">Imagen Url</label>
      <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..."  
        [formControl]="fg.controls['url']">
        <div class="alert alert-warning" *ngIf="fg.controls['url'].hasError('required')">¡Url requerida!</div>
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
  </form>
